In [1]:
import pandas as pd

In [2]:
# Step1: Need to get districts with their lattitudes and longitudes
# Stpe2: Create for one time stamp: Say, 1 March 2020 for all locations

In [3]:
df = pd.read_csv('state_wise_daily.csv')

In [4]:
df = df[df['Status']=='Deceased']

In [5]:
df = df.drop(columns=['Date_YMD'])

In [6]:
# df.Date = pd.to_datetime(df['Date'])

In [7]:
df.reset_index(inplace=True,drop=True)

In [8]:
df

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17-Mar-20,Deceased,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,22-Jun-21,Deceased,1359,0,53,1,37,6,0,7,...,34,3,3,194,10,4,58,8,47,0
466,23-Jun-21,Deceased,1323,0,36,0,30,6,1,5,...,35,1,0,166,12,4,54,16,38,0
467,24-Jun-21,Deceased,1328,0,38,2,34,4,0,8,...,21,0,2,155,9,2,30,6,41,0
468,25-Jun-21,Deceased,1183,0,38,3,26,3,0,8,...,12,0,1,150,11,2,15,9,35,0
469,26-Jun-21,Deceased,1258,0,38,2,33,2,0,4,...,23,5,2,148,9,3,62,3,32,0

In [9]:
df['TT'].describe()

count     470.000000
mean      842.100000
std      1089.795783
min         0.000000
25%       142.750000
50%       470.500000
75%       987.000000
max      6139.000000
Name: TT, dtype: float64

In [10]:
df['UN'].describe()

count    470.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: UN, dtype: float64

In [11]:
df['UN'] = 20

In [14]:
df.columns

Index(['Date', 'Status', 'TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN',
       'DD', 'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD',
       'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN',
       'TG', 'TR', 'UP', 'UT', 'WB', 'UN'],
      dtype='object')

In [15]:
state_data = pd.DataFrame(columns=['Code','State','Latitude','Longitude'])

In [16]:
state_data['Code'] = df.columns

In [17]:
state_data = state_data[3:]

In [18]:
state_data.reset_index(drop=True, inplace=True)

In [19]:
states_names = ["Andaman and Nicobar Islands",
"Andhra Pradesh",
"Arunachal Pradesh",
"Assam",
"Bihar",
"Chandigarh",
"Chattisgarh",
"Dadra and Nagar Haveli",
"Daman and Diu",
"Delhi",
"Goa",
"Gujarat",
"Haryana",
"Himachal Pradesh",
"Jammu and Kashmir",
"Jharkhand",
"Karnataka",
"Kerala",
"Ladakh",
"Lakshadweep Islands",
"Madhya Pradesh",
"Maharashtra",
"Manipur",
"Meghalaya",
"Mizoram",
"Nagaland",
"Odisha",
"Pondicherry",
"Punjab",
"Rajasthan",
"Sikkim",
"Tamil Nadu",
"Telangana",
"Tripura",
"Uttar Pradesh",
"Uttarakhand",
"West Bengal",
"Unknown"
]

In [20]:
len(states_names)

38

In [21]:
state_data['State'] = states_names

In [22]:
state_data

   Code                        State Latitude Longitude
0    AN  Andaman and Nicobar Islands      NaN       NaN
1    AP               Andhra Pradesh      NaN       NaN
2    AR            Arunachal Pradesh      NaN       NaN
3    AS                        Assam      NaN       NaN
4    BR                        Bihar      NaN       NaN
5    CH                   Chandigarh      NaN       NaN
6    CT                  Chattisgarh      NaN       NaN
7    DN       Dadra and Nagar Haveli      NaN       NaN
8    DD                Daman and Diu      NaN       NaN
9    DL                        Delhi      NaN       NaN
10   GA                          Goa      NaN       NaN
11   GJ                      Gujarat      NaN       NaN
12   HR                      Haryana      NaN       NaN
13   HP             Himachal Pradesh      NaN       NaN
14   JK            Jammu and Kashmir      NaN       NaN
15   JH                    Jharkhand      NaN       NaN
16   KA                    Karnataka      NaN       NaN
17   KL                       Kerala      NaN       NaN
18   LA                       Ladakh      NaN       NaN
19   LD          Lakshadweep Islands      NaN       NaN
20   MP               Madhya Pradesh      NaN       NaN
21   MH                  Maharashtra      NaN       NaN
22   MN                      Manipur      NaN       NaN
23   ML                    Meghalaya      NaN       NaN
24   MZ                      Mizoram      NaN       NaN
25   NL                     Nagaland      NaN       NaN
26   OR                       Odisha      NaN       NaN
27   PY                  Pondicherry      NaN       NaN
28   PB                       Punjab      NaN       NaN
29   RJ                    Rajasthan      NaN       NaN
30   SK                       Sikkim      NaN       NaN
31   TN                   Tamil Nadu      NaN       NaN
32   TG                    Telangana      NaN       NaN
33   TR                      Tripura      NaN       NaN
34   UP                Uttar Pradesh      NaN       NaN
35   UT                  Uttarakhand      NaN       NaN
36   WB                  West Bengal      NaN       NaN
37   UN                      Unknown      NaN       NaN

In [62]:
lat = [11.66702557,14.7504291,27.10039878,26.7499809,25.78541445,30.71999697,22.09042035,20.26657819,20.2270,28.6699929,15.491997,\
 22.2587,28.45000633,31.10002545,34.29995933,23.80039349,12.57038129,8.900372741,34.2268,10.56257331,23.2599,\
 19.25023195,24.79997072,25.57049217,23.71039899,25.6669979,19.82042971,11.93499371,31.51997398,26.44999921,\
 27.3333303,12.92038576,18.1124,23.83540428,27.59998069,30.32040895,22.58039044,0]
 
long = [92.73598262,78.57002559,93.61660071,94.21666744,87.4799727,76.78000565,82.15998734,73.0166178,73.0169,77.23000403,73.81800065,\
71.1924,77.01999101,77.16659704,74.46665849,86.41998572,76.91999711,76.56999263,77.5619,72.63686717,77.4126,\
 73.16017493,93.95001705,91.8800142,92.72001461,94.11657019,85.90001746,79.83000037,75.98000281,74.63998124,\
 88.6166475,79.15004187,79.0193,91.27999914,78.05000565,78.05000565,88.32994665,0]

In [63]:
lat.__len__()

38

In [64]:
state_data['Latitude'] = lat
state_data['Longitude'] = long

In [65]:
state_data

   Code                        State   Latitude  Longitude  example  Deaths
0    AN  Andaman and Nicobar Islands  11.667026  92.735983        0       0
1    AP               Andhra Pradesh  14.750429  78.570026        0       0
2    AR            Arunachal Pradesh  27.100399  93.616601        0       0
3    AS                        Assam  26.749981  94.216667        0       0
4    BR                        Bihar  25.785414  87.479973        0       0
5    CH                   Chandigarh  30.719997  76.780006        0       0
6    CT                  Chattisgarh  22.090420  82.159987        0       0
7    DN       Dadra and Nagar Haveli  20.266578  73.016618        0       0
8    DD                Daman and Diu  20.227000  73.016900        0       0
9    DL                        Delhi  28.669993  77.230004        1       6
10   GA                          Goa  15.491997  73.818001        0       0
11   GJ                      Gujarat  22.258700  71.192400        0       0
12   HR                      Haryana  28.450006  77.019991        0       0
13   HP             Himachal Pradesh  31.100025  77.166597        0       0
14   JK            Jammu and Kashmir  34.299959  74.466658        0       0
15   JH                    Jharkhand  23.800393  86.419986        0       0
16   KA                    Karnataka  12.570381  76.919997        1       6
17   KL                       Kerala   8.900373  76.569993        0       0
18   LA                       Ladakh  34.226800  77.561900        0       0
19   LD          Lakshadweep Islands  10.562573  72.636867        0       0
20   MP               Madhya Pradesh  23.259900  77.412600        0       0
21   MH                  Maharashtra  19.250232  73.160175        0       0
22   MN                      Manipur  24.799971  93.950017        0       0
23   ML                    Meghalaya  25.570492  91.880014        0       0
24   MZ                      Mizoram  23.710399  92.720015        0       0
25   NL                     Nagaland  25.666998  94.116570        0       0
26   OR                       Odisha  19.820430  85.900017        0       0
27   PY                  Pondicherry  11.934994  79.830000        0       0
28   PB                       Punjab  31.519974  75.980003        0       0
29   RJ                    Rajasthan  26.449999  74.639981        0       0
30   SK                       Sikkim  27.333330  88.616647        0       0
31   TN                   Tamil Nadu  12.920386  79.150042        0       0
32   TG                    Telangana  18.112400  79.019300        0       0
33   TR                      Tripura  23.835404  91.279999        0       0
34   UP                Uttar Pradesh  27.599981  78.050006        0       0
35   UT                  Uttarakhand  30.320409  78.050006        0       0
36   WB                  West Bengal  22.580390  88.329947        0       0
37   UN                      Unknown   0.000000   0.000000       20     120

In [67]:
state_data

   Code                        State   Latitude  Longitude  example  Deaths
0    AN  Andaman and Nicobar Islands  11.667026  92.735983        0       0
1    AP               Andhra Pradesh  14.750429  78.570026        0       0
2    AR            Arunachal Pradesh  27.100399  93.616601        0       0
3    AS                        Assam  26.749981  94.216667        0       0
4    BR                        Bihar  25.785414  87.479973        0       0
5    CH                   Chandigarh  30.719997  76.780006        0       0
6    CT                  Chattisgarh  22.090420  82.159987        0       0
7    DN       Dadra and Nagar Haveli  20.266578  73.016618        0       0
8    DD                Daman and Diu  20.227000  73.016900        0       0
9    DL                        Delhi  28.669993  77.230004        1       6
10   GA                          Goa  15.491997  73.818001        0       0
11   GJ                      Gujarat  22.258700  71.192400        0       0
12   HR                      Haryana  28.450006  77.019991        0       0
13   HP             Himachal Pradesh  31.100025  77.166597        0       0
14   JK            Jammu and Kashmir  34.299959  74.466658        0       0
15   JH                    Jharkhand  23.800393  86.419986        0       0
16   KA                    Karnataka  12.570381  76.919997        1       6
17   KL                       Kerala   8.900373  76.569993        0       0
18   LA                       Ladakh  34.226800  77.561900        0       0
19   LD          Lakshadweep Islands  10.562573  72.636867        0       0
20   MP               Madhya Pradesh  23.259900  77.412600        0       0
21   MH                  Maharashtra  19.250232  73.160175        0       0
22   MN                      Manipur  24.799971  93.950017        0       0
23   ML                    Meghalaya  25.570492  91.880014        0       0
24   MZ                      Mizoram  23.710399  92.720015        0       0
25   NL                     Nagaland  25.666998  94.116570        0       0
26   OR                       Odisha  19.820430  85.900017        0       0
27   PY                  Pondicherry  11.934994  79.830000        0       0
28   PB                       Punjab  31.519974  75.980003        0       0
29   RJ                    Rajasthan  26.449999  74.639981        0       0
30   SK                       Sikkim  27.333330  88.616647        0       0
31   TN                   Tamil Nadu  12.920386  79.150042        0       0
32   TG                    Telangana  18.112400  79.019300        0       0
33   TR                      Tripura  23.835404  91.279999        0       0
34   UP                Uttar Pradesh  27.599981  78.050006        0       0
35   UT                  Uttarakhand  30.320409  78.050006        0       0
36   WB                  West Bengal  22.580390  88.329947        0       0
37   UN                      Unknown   0.000000   0.000000       20     120

In [74]:
import plotly.express as px
for day in range(0,470,7):
    death_count = list(df.iloc[day])[3:]
    state_data['Deaths'] = death_count
    state_data['Deaths'] = state_data['Deaths'].fillna(0)
    state_data['Deaths'] = state_data['Deaths'].replace(-1,0)
    state_data['Deaths'] = state_data['Deaths']*6

    fig = px.scatter_mapbox(state_data, lat="Latitude", lon="Longitude", size='Deaths',size_max=80,
                            color_discrete_sequence=["red"],opacity = 0.5, zoom=4.3, width = 1000,height=900, title=f'Date:{df.iloc[day][0]}')
    fig.update_layout(title_x = 0.5, title_y = 0.98,mapbox_style="carto-darkmatter") #stamen-toner
    fig.update_layout(margin={"r":10,"t":50,"l":0,"b":0,"l":10})
    total_deaths = sum(df['TT'][:day])
    fig.add_annotation(
            x=0.8,
            y=0.2,
            text= f'Total Deaths: {total_deaths}',
            showarrow=False,
            font=dict(
                family="Courier New, monospace",
                size=20,
                color="#ffffff"
                ),
            bordercolor="#c7c7c7",
            borderwidth=2,
            borderpad=4,
            bgcolor="red",
            opacity=0.8
            )#     fig.update_layout(title=f'Date:{df.iloc[day][0]}')
    fig.write_image(f'newer_f/file_{day}.png')
#     fig.show()